@model BodybuildingManager.Models.Database.Compte;
@{
    ViewData["Title"] = "Mon Compte";
}
<div class="text-center">
    <h1 class="display-4">Mon compte :</h1>

    <ul class="list-group text-left">
        <li class="list-group-item"><b>Email / Nom de compte : </b>@Model.Email</li>
        <li class="list-group-item"><b>Id du compte : </b>@Model.Id</li>
        <li class="list-group-item"><b>Date de début du programme actuel : </b>@Model.Programmes.FirstOrDefault(x=>x.EstActif)?.DateDebut?.ToString("yyyy-MM-dd")</li>
    </ul>
    <br>
    <br>

    <div class="col-12 justify-content-center" style="display: inline-flex;">
        <a href="@Url.Action("Index", "Parametre")" class="">
            <button class="btn btn-secondary">Paramètres</button>
        </a>
        @using (Html.BeginForm("Deconnexion", "Identification", FormMethod.Get))
        {
            <input class="btn btn-danger" type="submit" name="submit" value="Se déconnecter" />
        }
    </div>
</div>